@import 'src/styles/variables.scss';

@mixin activeEl {
  background-color: $bgColor;
  border: 1px solid $borderColor;


.curcleButton__content {
    background-color: transparent;
    height: auto;
    width: auto;

    div{
      display: block;
    }
  }
}
.curcleButton {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: $element-size;
  height: $element-size;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;

  &__content {
    background-color: $blackBlue;
    height: $point-size;
    width: $point-size;
    border-radius: 50%;

    div{
      color: $blackBlue;
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      display: none;
      position: relative;
      width: 100%;
      height: 100%;
    }


  }

  &:hover, &.active {
    @include activeEl();
  }
}

@media screen and (max-width: 1024px) {
  .curcleButton {
    width: $element-medium-size;
    height: $element-medium-size;
  }
}