@import 'src/styles/variables.scss';
.title {
  color: $blackBlue;
  font-weight: 700;
  font-size: 56px;
  line-height: 67.2px;
  max-width: 353px;
  max-height: 134px;

  &::before {
    content: '';
    position: absolute;
    left: -$content-margin;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    background: linear-gradient(180deg, $blue -5%, $fuschia 85%);
    height: auto;

    @media screen and (max-width: 640px) {
      display: none;
    }
  } 
}