$container-size: 530px;
$element-size: 56px;
$point-size: 6px;

$content-margin: 78px;

// colors
$blue: #3877EE;
$blackBlue: #42567A;
$iris: #5D5FEF;
$fuschia:#EF5DA8;
$borderColor: rgba(48, 62, 88, 0.5);
$bgColor: rgba(244, 245, 249, 1);
$white: #ffffff;
$shadowColor: #3877EE1A;

