@import 'src/styles/variables.scss';
.app {
  &__container{
    position: relative;
    margin: auto;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    border-left: 1px solid rgba(66, 86, 122, 0.1);
    border-right: 1px solid rgba(66, 86, 122, 0.1);
    overflow: hidden;
    padding: 170px $content-margin 100px $content-margin;
  }

  &__content {
    height: 100%;
    position: relative;
  }

  &__title{
    position: absolute;
    left: 0;
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    width: 1px;
    height: auto;
    background-color: #42567a;
    opacity: 10%;
    z-index: -1;

    @media screen and (max-width: 1260px) {
      display: none;
    }
  }
}


@media screen and (max-width: 1440px) {
  .app {
    &__container {
      max-width: auto;
      padding-top: 90px;
      padding-bottom: 50px;
      width: 100%;
      border: none;
    }
  }
}
@media screen and (max-width: 1260px) {
  .app__container {
    padding-left: $content-medium-margin;
    padding-left: $content-medium-margin;
  }
  .app__title{
    position: static;
  }
}

@media screen and (max-width: 1024px) {
  .app__container {
    padding-top: 90px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 640px) {
  .app {
    &__container {
      padding: 60px $content-mobile-margin 13px $content-mobile-margin;
      padding-top: 60px;
      padding-bottom: 13px;
    }
    &__content{
      height: 100%;
    }

    &__title{
      position: static;
    }
  }
}