@import 'src/styles/variables.scss';
$rotateDeg: 120deg;
.pagination {
  border-radius: 50%;
  border: 1px solid $blackBlue;
  box-sizing: border-box;
  display: inline-block;
  width: $container-size;
  height: $container-size;
  transform: rotate($rotateDeg);

  position: absolute;

  
  &__bullete {
    transform-origin: calc(#{$container-size} / 2 + #{$element-size} / 2) 50%;
  }
  @media screen and (max-width: 640px) {
    display: none;
  } 
}

   
@for $i from 1 through 6 {
  @for $j from 1 through 6 {
    .pagination .pagination__bullete:nth-child(#{$j}):nth-last-child(#{$i}){
      transform: translate(-50%, -50%) rotate(calc(360deg / (#{$j} + #{$i} - 1) * (#{$j} - 1)) )
    }

    .pagination .pagination__bullete:nth-child(#{$j}):nth-last-child(#{$i}) > div {
      transform:  rotate(calc(-360deg / (#{$j} + #{$i} - 1) * (#{$j} - 1) - $rotateDeg));
    }
  }
}

@media screen and (max-width: 1024px) {
  .pagination {
    width: $container-medium-size;
    height: $container-medium-size;

    &__bullete {
      transform-origin: calc(#{$container-medium-size} / 2 + #{$element-medium-size} / 2) 50%;
    }
  }
}





  
