@import 'src/styles/variables.scss';

.menu {
  position: relative;
  box-sizing: border-box;
  min-height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 100%;
  margin-bottom: 50px;

  &__text {
    font-size: 200px;
    font-weight: 700;
    line-height: 200px;

    &:nth-child(1){
      color: $iris;
    }

    &:nth-child(2){
      color: $fuschia;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -$content-margin;
    right: -$content-margin;
    height: 1px;
    background-color: $blackBlue;
    opacity: 10%;
    z-index: -1;
    @media screen and (max-width: 1260px) {
      display: none;
    }
  }

  &__activeType{
    position: absolute;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: $blackBlue;
    left: calc(50% + 180px);
    top: 50px;

    @media screen and (max-width: 1280px) {
      top: 20px;
    }

    @media screen and (max-width: 1024px) {
      top: 20px;
      left: calc(50% + 150px);
    }
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}



@media screen and (max-width: 1260px) {
  .menu {
    min-height: 530px;
    padding-bottom: 40px;
    margin-bottom: 0;
    &__text {
      font-size: 150px;
      line-height: 1.2em;
    }
  }
} 

@media screen and (max-width: 1024px) {
  .menu {
    min-height: 400px;
    &__text {
      font-size: 96px;
      line-height: 1.2em;
    }
  }
} 

@media screen and (max-width: 640px) {
  .menu {
    height: 184px;
    min-height: auto;
    gap: 30px;
    border-bottom: 1px solid $grey;
    padding: 0;
    &__text {
      font-size: 56px;
      line-height: 72.46px;
      margin: 0;
    }
  }
} 