@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Passion+One&display=swap');
.menu {
  position: relative;
  min-height: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;

  &__text {
    font-size: 200px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;

    &:nth-child(1){
      color: rgba(93, 95, 239, 1);
    }

    &:nth-child(2){
      color: rgba(239, 93, 168, 1);
    }
  }

  

}